{% extends "base_generic.html" %}

{% block content %}

  {% if form.errors %}
    <p>Votre nom d'usager et mot de passe ne correspondent pas. 
    Essayez de nouveau.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Votre compte ne peut pas consulter cette page.
      Un compte avec des droits supérieur est nécessaire.</p>
    {% else %}
      <p>Connectez-vous pour voir cette page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Mot de passe oublié?</a></p>

{% endblock %}
