/* body { */
    /* background-color: darkgray; */
/* } */
.sidebar-nav {
    margin-top: 20px;
    padding: 20;
    list-style: none;
}

/* .col-sm-2 { */
    /* background-color: gray; */
/* } */
/*  */
/* h1 { */
    /* color: yellow; */
  /* } */
/*  */
/* #nav li a { */
    /* color: #ffffff; */
/* } */
